@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.privacycontent {
  text-align: justify;
  font-size: 18px;
  hyphens: auto;
  line-height: 35px;
}

@media (min-width: 1024px) {
  .privacycontent {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
  }
}

/* From Uiverse.io by adamgiebl */
.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #000000;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  color: #000000;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
