@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1024px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.privacycontent {
  text-align: justify;
  font-size: 18px;
  hyphens: auto;
  line-height: 35px;
}

@media (min-width: 1024px) {
  .privacycontent {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
  }
}
